# Permet de rediriger les liens comme on le souhaite
RewriteEngine On

# Si ce n'est pas un dossier qui existe
RewriteCond %{REQUEST_FILENAME} !-d
# Et que ce n'est pas un fichier qui existe
RewriteCond %{REQUEST_FILENAME} !-f

# Alors on redirige vers index.php avec le lien en tant que paramètre d'URL
RewriteRule ^(.*)$ index.php?link=$1 [L]

# Sinon, on ne redirige rien (lien direct d'un des fichiers, par exemple une ressource ou un dossier du site)