# Si c'est une erreur 403 on redirige vers la page d'erreur correspondante
ErrorDocument 403 /index.php?link=403

# Permet de rediriger les liens comme on le souhaite
RewriteEngine On

# Si ce n'est pas un dossier qui existe
RewriteCond %{REQUEST_FILENAME} !-d
# Et que ce n'est pas un fichier qui existe
RewriteCond %{REQUEST_FILENAME} !-f

# Alors on redirige vers index.php avec le lien en tant que paramètre d'URL
RewriteRule ^(.*)$ index.php?link=$1 [L,QSA]

# Sinon, on ne redirige rien (c'est le lien direct d'un fichier/dossier, par exemple une ressource ou un dossier du site)