/* ---- Page d'accueil (non connecté) ---- */
/* ---- En-tête de page ---- */
#sign-container {
    margin-right: 30px;

    position: absolute;
    right: 0;
    top: 0;
    height: 108px;
    float: right;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* ---- Contenu principal de la page ---- */
main {
    margin: 0 20px;
}

#cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#welcome {
    font-size: 34px;
    font-weight: 800;
    text-align: center;
    padding: 20px 0;
    margin: 100px 0 50px 0;
}

#cards {
    width: 778px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(246px, 1fr));
    grid-gap: 20px;
}