/* ---- Page d'erreur 404 ---- */
/* Contenu principal de la page ---- */
main {
    display: flex;
    justify-content: center;
    align-items: center;
}

#error-label {
    text-align: center;
    font-size: 34px;
    font-weight: 600;
}

#error-button {
    margin: 32px auto;
}

#error-number-label {
    font-weight: 800;
}