body, .theme-default-background, .select-list, #right-toolbar-menu-content {
    background-color: #202121;
}

.theme-default-text, .select-list div, #right-toolbar-menu-content * {
    color: white;
}

* {
    border-color: #3B3B3B !important;
}

.textbox-error, .select-selected-error {
    border-color: #FF3B30 !important;
}

.checkbox-label:hover input ~ .checkmark, .select-list div:hover, .sidebar-link:hover, #right-toolbar-menu-content div:last-child:hover,
#right-toolbar-menu-content div:first-child:hover, #right-toolbar-menu-content div:hover, #right-toolbar-menu:hover, .settings-title-button:hover,
.radio-buttons-container label:hover {
    background-color: #3B3B3B;
}

.checkbox-label .checkmark:after {
    border: solid black;
    border-width: 0 3px 3px 0;
}

.checkbox-label .checkmark:hover:after {
    border: solid white;
    border-width: 0 3px 3px 0;
}

.sidebar-link-selected {
    color: black;
}

.select-selected-text-choosen {
    color: white !important;
}

#right-toolbar-menu-content {
    border: 1px solid #3B3B3B;
}

#right-toolbar-menu-content div:first-child:hover {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#right-toolbar-menu-content div:last-child:hover {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}