body, .theme-default-background {
    background-color: white;
}

.theme-default-text {
    color: black;
}

.checkbox-label:hover input ~ .checkmark, .settings-title-button:hover, #right-toolbar-menu:hover:hover,
#right-toolbar-menu-content div:hover, #right-toolbar-menu-content div:first-child:hover,
#right-toolbar-menu-content div:last-child:hover, .sidebar-link:hover, .select-list div:hover {
    background-color: #E6ECF0;
}

.checkbox-label .checkmark:after {
    border: solid black;
    border-width: 0 3px 3px 0;
}

.select-list {
    background-color: white;
}

.select-list div {
    color: black;
}

#right-toolbar-menu-content {
    background-color: white;
    border: 1px solid #E6ECF0;
}

#right-toolbar-menu-content div:first-child:hover {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#right-toolbar-menu-content div:last-child:hover {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}