/* ---- Général ---- */
* {
    font-family: "SF-Pro-Rounded", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
    "Noto Sans", sans-serif;
}

p {
    margin: 0;
}

html, body {
    height: 100%;
}

::placeholder {
    color: #8A8A8E;
    opacity: 1;
}