/* ---- Général ---- */
* {
    font-family: "SF-Pro-Rounded", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
    "Noto Sans", sans-serif;
}

p {
    margin: 0;
}

/* ---- Liens ---- */
.link-main, .link-secondary {
    margin: 0 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 17px;
    font-weight: 700;
    cursor: pointer;
    border: none;
}

.link-main {
    min-width: 92px;
    min-height: 32px;
    padding: 0 16px;

    border-radius: 10px;
    background-color: #1FCAAC;
    color: black;
}

.link-secondary {
    background-color: transparent;
    color: #1FCAAC;
}

.link-main:hover, .link-secondary:hover {
    filter: brightness(90%);
}

/* ---- Carte ---- */
.card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;

    perspective: 1000px;
}

.card {
    width: 246px;
    height: 160px;

    transition: transform 0.7s;
    transform-style: preserve-3d;
}

.card-container:hover .card {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    width: 100%;

    position: absolute;
    top: 0;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
    box-shadow: 0 1px 8px 0;
}

.card-front, .card-back {
    -moz-backface-visibility: hidden;
}

.card-back {
    transform: rotateY(180deg);
}

.card-text {
    width: calc(100% - 15px);
    transform: translate(-50%, -50%);

    position: absolute;
    top: 50%;
    left: 50%;

    text-align: center;
    font-weight: 800;
    font-size: 20px;
}

.card-image {
    width: calc(100% - 15px);
    height: calc(100% - 15px);
}

.card-image, .card-text {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}